.cipher-button {
  background-color: #68a1fc;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 10px 0 10px;
  border: 1px solid #80808026;
}

.cipher-button {
  font-size: 16px;
  color: white;
}

.cipher-button:hover {
  background-color: #75a8fc;
}

.cipher-button:active {
  background-color: #7eb0ff;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #b0ceff;
}

.disabled:hover {
  background-color: #b0ceff;
}

.disabled:active {
  background-color: #b0ceff;
}