.message-wrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 750px;
  border-radius: 0 0 2px 2px;
  box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.14);
  padding: 7px;
  min-height: 300px;
  margin-top: 25px;
  white-space: pre-wrap;
}

.warning-message {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 100px;
}