.cli-wrapper {
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  min-height: 300px;
  margin-top: 25px;
  white-space: pre-wrap;
  border-radius: 4px;
  font-size: 17px;
  word-break: break-word;
  margin-bottom: 100px;
}

.cli-header {
  margin-bottom: 20px;
}

.download-options {
  margin-top: 60px;
}

.download-options h5 {
  margin-bottom: 20px;
}

.tab-content {
  margin-top: 25px;
}

.commands-wrapper {
  margin-top: 40px;
}

.commands-wrapper h5 {
  margin-bottom: 15px;
}

.command-name {
  margin-bottom: 10px;
  font-size: 19px;
}

.command-explanation {
  margin-top: 20px;
}

.section-indent-thirty {
  padding-left: 30px;
  padding-right: 30px;
}

.border-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #b8b8b8;
}

@media only screen and (max-width: 768px) {
  .section-indent-thirty {
    padding-left: 0px;
    padding-right: 0px;
  }
}