.cli-wrapper {
  background-color: white;
  margin: 0 auto;
  padding: 15px;
  min-height: 300px;
  margin-top: 25px;
  white-space: pre-wrap;
  border-radius: 4px;
  font-size: 17px;
  word-break: break-word;
}

.cli-header {
  margin-bottom: 20px;
}

.download-options {
  margin-top: 60px;
}

.download-options h5 {
  margin-bottom: 20px;
}

.tab-content {
  margin-top: 25px;
}