.nav-bar-wrapper {
  background-color: #68a1fc;
  box-shadow: 1px 1px 4px 2px #888888;
  height: 70px;
  width: 100%;
}

.brand {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  height: 70px;
  text-align: center;
  width: 150px;
  color: white;
}

.brand:hover {
  color: black;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
}

.links {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 17px;
  padding-left: 10px;
}

.links:hover {
  color: rgb(68, 68, 68);;
}

.links:active {
  color: rgb(48, 48, 48);;
}

.nav-right-side {
  display: flex;
  justify-content: center;
  align-content: center;
}

.github-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  height: 35px;
  width: 35px;
  margin-left: 70px;
  margin-bottom: 1px;
}

.cipher-bin-logo {
  height: 40px;
  width: 40px;
}

.brand:hover {
  color: rgb(68, 68, 68);
  border-radius: 5px;
}

.brand:active {
  color: rgb(58, 58, 58);
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .github-logo {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 415px) {
  .github-logo {
    margin-left: 15px;
  }
}