body {
  background-color: #ececec !important;
  margin: 0;
  font-family: 'Fira Code', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Fira Code", monospace !important;
}
